@import "flowbite/dist/flowbite.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #A2D2FF, #FFC8DD);
  min-height: 100vh;
}